.header {
  width: 100%;
  min-height: 60vh;
  background: white;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-style: italic;
}

.subtitle {
  margin-top: 2.5rem;
  font-size: 0.75rem;
}